<div><%= link_to 'ubah account', edit_user_account_path(@user) %></div>
<div><%= link_to 'lihat account', user_page_path %></div>
<div><%= link_to 'ubah password', :controller => "user/account",:action => "changepassword" %></div>