============================================================================================== <br />
jika tertarik menggunakan jasa salah seorang member kami, <br>
anda dapat mengirimkan email atau menghubungi contact-person yang dapat dilihat pada resume. 	

============================================================================================== <br />
<p>Pesan:</p>
<p><%= @pesan %></p>
============================================================================================== <br />
<div id="content">
<%= render :partial => 'user/resumes/resume',:object => @resume %>
</div>
============================================================================================== <br />
ini adalah aplikasi pekerjaan yang dibuat oleh <%= @resume.nama %><br />
menggunakan fasilitas dari situs onlineportfolio.co.cc