body {
	padding:0;
	margin:0;
	text-align:center;
	min-width:780px;
	width:100%;
}
#wrapper{
	text-align:left;
	margin:0 auto;
	padding:6px;
	width:780px;
	height:100%;
}
.title{
	text-transform:capitalize;
	margin-top:10px;
	padding:5px 0;
	width:100%;
}
.item {margin-bottom:20px;}
.row{padding:3px;height:100%;clear:both;}
div.row_label {width:25%;float:left;}
div.row_content {width:74%;margin-left:26%;}

#header{min-height:50px;}
#footer{
	/* position:absolute;bottom:0; */
	clear:both;	
	height:50px;
}
#sidebar{float:left;width:15%;}
#content{min-height:400px;height:100%;width:100%;}

